.App {
  text-align: center;
}

a {
  color: rgb(243, 97, 97);
}
a:hover {
  color:  rgb(236, 0, 0);
}
a:active {
  color: rgb(236, 0, 0);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.joblol{
  display:block;
  border:brown;
  padding:10px 0px;
  margin:10px 0px;

}
.joblol:hover{
  cursor: pointer;
  color: rebeccapurple;
}
.job-title{
  font-style: italic;
  font-weight: bold;
  margin: 0px 0px;

}
.title{
  font-weight: bold;
}
.serial-number{
  margin: 0px 0px;

}
.jumbotron{
  height: 700px;
}
.row-content{
  padding:10px 10px;
}
.footer{
  background-color: white;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.customul:hover,
.customul:focus,
.customul:active {
  color:rgb(236, 0, 0);
  text-decoration: none;
}

.customul::after {
  content: "";
  position: absolute;
}
.box-e{
  padding: 0px 10px;
}

.box-e .customul::after {

  
    transition: 0.5s ease all .3s;
}

.box-e:hover .customul::after {
  width: 90%;
    transition: 0.3s ease all;
}
.navItem{
  margin: auto;
  background:tranparent;
}